extends ../layouts/common.pug
block header
  div(class="container-md")
    h1 Login
    .alert.alert-primary 
      i User: huynt.seo@gmail.com | Pass: 123123
    if(error)
        .alert.alert-danger= error
    form(method="POST" style="margin-top:20px")
      div(class="form-group")
        input(class="form-control" type="email" name="emailLogin" placeholder="Email")
      div(class="form-group")
        input(class="form-control" type="password" name="passLogin" placeholder="Password")
      button(class="btn btn-primary" type="submit") Đăng Nhập