extends ../layouts/common.pug
block header
  div(class="container-md")
    h1 Sửa thông User
      form(method="POST" style="margin-top:20px")
        div(class="form-group")
          input(class="form-control" type="text" value= data.id disabled)
        div(class="form-group")
          input(class="form-control" type="text" name="name" value= data.name)
        div(class="form-group")
          input(class="form-control" type="text" name="introduce" value= data.introduce)
        button(class="btn btn-primary" type="submit") Confirm