extends ../layouts/common.pug
block header
  div(class="container-md")
    h1 Thôn tin cá nhân
    ul(class="list-group")
      li(class="list-group-item")  id: 
        span= data.id

      li(class="list-group-item")  Name: 
        span= data.name

      li(class="list-group-item")  Giới thiệu: 
        span= data.introduce