extends ../layouts/common.pug
block header
  div(class="container-md")
    h1 Sửa thông tin sách
      form(method="POST" style="margin-top:20px")
        div(class="form-group")
          input(class="form-control" type="text" value= data.id disabled)
        div(class="form-group")
          input(class="form-control" type="text" name="title" value= data.title)
        div(class="form-group")
          input(class="form-control" type="text" name="description" value= data.description)
        button(class="btn btn-primary" type="submit") Confirm