html
  head
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")
    link(rel="icon" type="image/png", href="https://cdn.glitch.com/3bf585f6-f4dd-471f-a38a-8a3def75e8ce%2Ffavicon.png?v=1599645943858")
    link(rel="stylesheet", src="/public/css/style.css")
  body
block header