extends ../layouts/common.pug
block header
  div(class="container-md")
    h1 Thuê sách
    form(method="POST" style="display:flex; flex-direction:column; gap: 12px;")
      select(class="form-control" name="userId")
        each user in dataUser
          option(value= user.id)= user.name

      select(class="form-control" name="bookId")
        each book in dataBook
          option(value= book.id)= book.title

      button(class="btn btn-primary" type="submit") Thuê sách