h1 Sửa thông tin sách
  form(method="POST" style="display:flex; flex-direction:column; width:500px; height:auto; gap: 12px;")
    input(type="text" value= data.id disabled)
    input(type="text" name="title" value= data.title)
    input(type="text" name="description" value= data.description)
    button(type="submit") Confirm